@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes down { from {top: 0px;} to {top: 540px;} }
@-webkit-keyframes down { from {top: 0px;} to {top: 540px;} }
@keyframes down { from {top: 0px;} to {top: 540px;} }
.elem, .elem2, .elem3, .elem4 {
	width:30px;
	height:30px;
	position:absolute;
	top: 0px;
}
.elem{
	-webkit-animation:spin 4s linear infinite,
						down 2s linear infinite;
	-moz-animation:spin 4s linear infinite,
						down 2s linear infinite;
	animation:spin 4s linear infinite,
						down 2s linear infinite;
}
.elem2{
	-webkit-animation:spin 4s linear infinite,
						down 3s linear infinite;
	-moz-animation:spin 4s linear infinite,
						down 3s linear infinite;
	animation:spin 4s linear infinite,
						down 3s linear infinite;
}
.elem3{
	-webkit-animation:spin 4s linear infinite,
						down 4s linear infinite;
	-moz-animation:spin 4s linear infinite,
						down 4s linear infinite;
	animation:spin 4s linear infinite,
						down 4s linear infinite;
}
.elem4{
	-webkit-animation:spin 4s linear infinite,
						down 5s linear infinite;
	-moz-animation:spin 4s linear infinite,
						down 5s linear infinite;
	animation:spin 4s linear infinite,
						down 5s linear infinite;
}
#wrap {
	border:1px solid black;
	width:500px;
	height:500px;
	position:relative;
	margin: auto;
	overflow: hidden;
} 